.wrapper {
	display: flex;
	gap: 40px;
}

.groupBlock {
	background-color: #257432;
	max-width: 60vw;
	height: 100vh;
	font-size: 20px;
	padding: 15px;
}

.link {
	text-decoration: none;
	color: #ffffff;
}
